<form class="transaction-form" (ngSubmit)="addTransaction()">
  <mat-form-field>
    <input matInput placeholder="Description" [(ngModel)]="description" name="description" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Amount" [(ngModel)]="amount" name="amount" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="date" placeholder="Date" [(ngModel)]="date" name="date" required>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Type" [(ngModel)]="type" name="type" required>
      <mat-option value="income">Income</mat-option>
      <mat-option value="expense">Expense</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Add Transaction</button>
</form>
